apiVersion: v1
kind: Service
metadata:
  name: webapp-service
  labels:
    app: webapp
    env: homework
    version: v1.0
    tier: frontend
spec:
  type: NodePort
  selector:
    app: webapp
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30200
